.App {
  /*background-image: url('./fundo.png');*/
  background-color: #eceaea;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
}

.portfolio-image-cargo {
  max-width: 30%;
  height: auto;
}

.portfolio-image-nome {
  max-width: 50%;
  height: auto;
}

.image-row {
  display: flex;
  justify-content: center;   
  gap: 15px;                 
  margin-top: 15px;
  margin-bottom: 10px;  
  align-items: center
}

.portfolio-image-crafting {
  max-width: 35%;
  height: auto;
  display: flex;
}

.portfolio-image-livro {
  max-width: 35%;
  height: auto;
  display: flex;
}

.button-column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center
}

.btn-image { 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none; 
  outline: none; 
  cursor: pointer;
}
